$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #0044FC;
$secondary_paletteKeyColor: #787397;
$tertiary_paletteKeyColor: #846DA0;
$neutral_paletteKeyColor: #757682;
$neutral_variant_paletteKeyColor: #757685;
$background: #11131C;
$onBackground: #E2E1EF;
$surface: #11131C;
$surfaceDim: #11131C;
$surfaceBright: #373843;
$surfaceContainerLowest: #0C0E17;
$surfaceContainerLow: #191B25;
$surfaceContainer: #1D1F29;
$surfaceContainerHigh: #282934;
$surfaceContainerHighest: #33343F;
$onSurface: #E2E1EF;
$surfaceVariant: #444654;
$onSurfaceVariant: #C5C5D6;
$inverseSurface: #E2E1EF;
$inverseOnSurface: #2E303A;
$outline: #8E909F;
$outlineVariant: #444654;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #B9C3FF;
$primary: #B9C3FF;
$onPrimary: #00228B;
$primaryContainer: #0033C2;
$onPrimaryContainer: #DEE1FF;
$inversePrimary: #0044FD;
$secondary: #C9C2EA;
$onSecondary: #312C4C;
$secondaryContainer: #4A4566;
$onSecondaryContainer: #E7E0FF;
$tertiary: #D6BCF4;
$onTertiary: #3B2754;
$tertiaryContainer: #9F87BB;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #DEE1FF;
$primaryFixedDim: #B9C3FF;
$onPrimaryFixed: #001258;
$onPrimaryFixedVariant: #0033C2;
$secondaryFixed: #E5DEFF;
$secondaryFixedDim: #C9C2EA;
$onSecondaryFixed: #1C1736;
$onSecondaryFixedVariant: #474364;
$tertiaryFixed: #EEDBFF;
$tertiaryFixedDim: #D6BCF4;
$onTertiaryFixed: #25113E;
$onTertiaryFixedVariant: #523D6C;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #171A26;
$term1: #9F79FF;
$term2: #64DCF0;
$term3: #FFDCF3;
$term4: #94ABD7;
$term5: #ACA1ED;
$term6: #9DCEFF;
$term7: #E8D3DE;
$term8: #C3B5C0;
$term9: #CAB5FF;
$term10: #F7FDFF;
$term11: #FFFFFF;
$term12: #CDDDF8;
$term13: #DDD4FF;
$term14: #F8FAFF;
$term15: #DEE0FF;
