*:not(popover) { all: unset; }

@import 'material_colors';
@import 'lib_mixins';
@import 'lib_classes';

* {
    border: none;
    border-radius: 0;
    min-height: 20px;
}

window.bar {
    background: #00131C;
}

window.bar.hidden {
    opacity: 0.2;
}

.workspaces {
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    background: #383c4a;
}

.workspaces button {
    transition: none;
    color: #7c818c;
    background: transparent;
    padding: 5px 10px;
    font-size: 18px;
}

.workspaces button.focused {
    background: #4e5263;
    border-radius: inherit;
}

.workspaces button.occupied {
    color: white;
}

.keyboard-layout {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    border-radius: 10px 10px 10px 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

.clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

.pulseaudio {
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

.pulseaudio .volume {
    padding-left: 16px;
    padding-right: 8px;
}

.pulseaudio .microphone {
    padding-left: 8px;
    padding-right: 16px;
}

.nvidia {
    margin-right: 100px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

.tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}


@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #383c4a;
    background: #7c818c;
}

tooltip {
    animation-name: appear;
    animation-duration: 100ms;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    // @include normal-rounding;
    background-color: opacify($color: $inverseSurface, $amount: 1);
    color: $inverseOnSurface;
}

menu>menuitem {
    padding: 0.4em 1.5rem;
    background: transparent;
    transition: 0.2s ease background-color;
    border-radius: 0.545rem;
    -gtk-outline-radius: 0.545rem;
}

$layer2: mix($surfaceContainer, $surfaceContainerHigh, 55%);
$onLayer2: $onSurface;
$layer2Hover: mix($layer2, $onLayer2, 90%);
$layer2Active: mix($layer2, $onLayer2, 80%);

$layer0: $background;
$onLayer0: $onBackground;
$onLayer0Inactive: mix($onLayer0, $layer0, 70%);

$layer1: $surfaceContainerLow;
$onLayer1: $onSurface;
$onLayer1Inactive: mix($onLayer1, $layer1, 45%);
$workspaceOnLayer1Inactive: $onLayer1Inactive;

menu {
    background: opacify($surfaceContainer, 1);
    color: $onSurface;
}

menu>menuitem:hover,
menu>menuitem:focus {
    background-color: $layer2Hover;
}

menu>menuitem:active {
    background-color: $layer2Active;
}

menu>menuitem:disabled {
    color: $workspaceOnLayer1Inactive;
}
