# tmp bin
**/emacsb

# emacs save
*.*~

# python
*.pyc

# qtile
**/qtile/*.db

# double commander
**/doublecmd/doublecmd.err
**/doublecmd/history.xml
**/doublecmd/pixmaps.cache
**/doublecmd/pwd.ini
**/doublecmd/session.ini
**/doublecmd/doublecmd.xml

# shutter
**/shutter/.thumbnails
**/shutter/.shutter/session.xml
**/shutter/.cache/shutter/unsaved/*.png

