# tmp bin
**/emacsb

# emacs save
*.*~

# python
*.pyc

# qtile
**/qtile/*.db

# double commander
**/doublecmd/doublecmd.err
**/doublecmd/history.xml
**/doublecmd/pixmaps.cache
**/doublecmd/pwd.ini
**/doublecmd/session.ini
**/doublecmd/doublecmd.xml

# shutter
**/shutter/.thumbnails
**/shutter/.shutter/session.xml
**/shutter/.shutter/drawingtool.xml
**/shutter/.shutter/settings.xml
**/shutter/.config/gtk-2.0/gtkfilechooser.ini
**/shutter/.cache/shutter/unsaved/*.png

# yandex-disk
**/yandex-disk/iid
**/yandex-disk/passwd

# pulseaudio
**/pulse/*
!**/pulse/default.pa

# zsh
**/.zinit/*
