Xcursor.theme: ize-vision

! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow #b58900
#define S_orange #cb4b16
#define S_red #dc322f
#define S_magenta #d33682
#define S_violet #6c71c4
#define S_blue #268bd2
#define S_cyan #2aa198
#define S_green #859900


! Dark

#define S_base03 #002b36
#define S_base02 #073642
#define S_base01 #586e75
#define S_base00 #657b83
#define S_base0 #839496
#define S_base1 #93a1a1
#define S_base2 #eee8d5
#define S_base3 #fdf6e3


! Light

! #define S_base03 #fdf6e3
! #define S_base02 #eee8d5
! #define S_base01 #93a1a1
! #define S_base00 #839496
! #define S_base0 #657b83
! #define S_base1 #586e75
! #define S_base2 #073642
! #define S_base3 #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background: S_base03

URxvt*background: S_base03
URxvt*foreground: S_base0
URxvt*fading: 40
URxvt*fadeColor: S_base03
URxvt*cursorColor: S_base1
URxvt*pointerColorBackground: S_base01
URxvt*pointerColorForeground: S_base1

*color0: S_base02
*color1: S_red
*color2: S_green
*color3: S_yellow
*color4: S_blue
*color5: S_magenta
*color6: S_cyan
*color7: S_base2
*color9: S_orange
*color8: S_base03
*color10: S_base01
*color11: S_base00
*color12: S_base0
*color13: S_violet
*color14: S_base1
*color15: S_base3

!-- Xft settings -- !
Xft*antialias: true
Xft*rgba: rgb
Xft*hinting: true
! hintnone, hintslight, hintmedium, hintfull
Xft*hintstyle: hintslight
!Xft*hintstyle: hintfull

!Xft*dpi: 96
!http://askubuntu.com/questions/197828/how-to-find-and-change-the-screen-dpi
Xft*dpi: 102

! lcdnone, lcddefault, lcdlight, lcdlegacy
Xft*lcdfilter: lcddefault



URxvt*transparent: false
URxvt*shading: 40
URxvt*saveLines: 12000
URxvt*scrollBar: false
URxvt*cursorBlink: true
URxvt*intensityStyles: false
!-- URxvt*internalBorder: 9 --!

! -- Fonts -- !
URxvt*font: xft:Ubuntu Mono:size=14
URxvt*boldFont: xft:Ubuntu Mono:size=14:bold

! -- Extension -- !
URxvt.iso14755: false
URxvt.perl-ext-common: default,keyboard-select,clipboard
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
URxvt.clipboard.autocopy: true

! -- Keys -- !
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.S-C-C: perl:clipboard:copy
URxvt.keysym.S-C-V: perl:clipboard:paste
URxvt.keysym.C-v:   perl:clipboard:paste_escaped
!Up
!URxvt.keysym.M-i:   \033[A
!Down
!URxvt.keysym.M-k:   \033[B
!Right
!URxvt.keysym.M-l:   \033[C
!Left
!URxvt.keysym.M-j:   \033[D
!Line begin
!URxvt.keysym.M-u:   \033[7~
!Line end
!URxvt.keysym.M-o:   \033[8~
!Delete
!URxvt.keysym.M-f:   \033[3~
!Backspace
!URxvt.keysym.M-d:   \010
