[Desktop Entry]
Version=1.0
Name=Google Chrome
GenericName=Web Browser
GenericName[en_GB]=Web Browser
GenericName[ru]=Веб-браузер
Comment=Access the Internet
Comment[en_GB]=Access the Internet
Comment[ru]=Доступ в Интернет
StartupWMClass=Google-chrome
Exec=/home/rean/.config/bin/google-chrome-stable %U
StartupNotify=true
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Name[en_GB]=New Window
Name[ru]=Новое окно
StartupWMClass=Google-chrome
Exec=/home/rean/.config/bin/google-chrome-stable

[Desktop Action new-private-window]
Name=New Incognito Window
Name[en_GB]=New Incognito window
Name[ru]=Новое окно в режиме инкогнито
StartupWMClass=Google-chrome
Exec=/home/rean/.config/bin/google-chrome-stable --incognito
